<div class="container">
  <mat-accordion *ngFor="let order of orders">
    <mat-expansion-panel>
      <mat-expansion-panel-header
        [collapsedHeight]="'7rem'"
        [expandedHeight]="'9rem'"
      >
        <table>
          <caption>
            #44
          </caption>
          <tr>
            <th>GC:</th>
            <td>{{ order.generalContractor }}</td>
            <th>Start Date:</th>
            <td>{{ order.startDate }}</td>
            <td><img src="assets/icons/{{ order.orderStatus }}.svg" /></td>
          </tr>
          <tr>
            <th>Project Manager:</th>
            <td>{{ order.manager }}</td>
            <th>Expected Date:</th>
            <td>{{ order.expectDate }}</td>
            <td><img src="assets/icons/{{ order.orderPriority }}.svg" /></td>
          </tr>
          <tr>
            <th>Yard:</th>
            <td>{{ order.yard }}</td>
            <th>Delivery Date:</th>
            <td>{{ order.deliveryDate }}</td>
          </tr>
        </table>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
