.container {
  width: 95%;
  margin: 0.5rem auto;
  flex-wrap: wrap;
  font-size: 9px;

  &-filters {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    mat-accordion {
      mat-expansion-panel {
        width: 23rem;
        margin: 0.5rem auto;
      }

      table {
        width: 100%;
        text-align: left;

        caption {
          text-align: left;
          color: 1b5e20;
        }
      }
    }

    &-actions {
      display: flex;
      justify-content: space-around;

      mat-icon {
        color: #1b5e20;

        &:hover {
          color: black;
        }
      }
    }
    .pagination ::ng-deep .ngx-pagination .current {
      background-color: #1b5e20;
    }
  }
}
@media only screen and (min-width: 768px) {
  .container {
    font-size: 12px;

    mat-accordion {
      mat-expansion-panel {
        width: 30rem;
        margin: 0.5rem;
      }
    }
  }
}
