.container {
  width: 95%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: first baseline;
  flex-wrap: wrap;
  font-size: 9px;

  mat-accordion {
    mat-expansion-panel {
      width: 24rem;
      margin: 0.5rem;
    }

    table {
      width: 100%;
      text-align: left;

      caption {
        text-align: left;
        color: green;
      }
    }
  }

  &-actions {
    display: flex;
    justify-content: space-around;

    mat-icon {
      color: #1b5e20;

      &:hover {
        color: black;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    font-size: 12px;

    mat-accordion {
      mat-expansion-panel {
        width: 30rem;
        margin: 0.5rem;
      }
    }
  }
}
