<div class="container">
  <div class="container-filters">
    <button mat-icon-button (click)="openCreate()" color="primary">
      <mat-icon>note_add</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="orderOpen()">
        <mat-icon color="primary">receipt_long</mat-icon>OPEN
      </button>
      <button mat-menu-item (click)="orderOpen()">
        <mat-icon color="accent">receipt_long</mat-icon>PROCESSING
      </button>
      <button mat-menu-item (click)="orderOpen()">
        <mat-icon color="warn">receipt_long</mat-icon>CLOSED
      </button>
    </mat-menu>
  </div>

  <div class="container-card">
    <mat-accordion
      *ngFor="
        let order of orders
          | paginate
            : { itemsPerPage: 10, currentPage: page, totalItems: length }
      "
    >
      <mat-expansion-panel class="mat-elevation-z6">
        <mat-expansion-panel-header
          [collapsedHeight]="'8rem'"
          [expandedHeight]="'9rem'"
        >
          <table>
            <caption>
              #{{
                order.id
              }}
            </caption>
            <tr>
              <th>GC:</th>
              <td>{{ order.generalContractor }}</td>
              <th>Start Date:</th>
              <td>{{ order.startDate }}</td>
              <td><img src="assets/icons/{{ order.orderStatus }}.svg" /></td>
            </tr>
            <tr>
              <th>Project Manager:</th>
              <td>{{ order.managerName }}</td>
              <th>Expected Date:</th>
              <td>{{ order.expectedDate }}</td>
              <td><img src="assets/icons/{{ order.orderPriority }}.svg" /></td>
            </tr>
            <tr>
              <th>Yard:</th>
              <td>{{ order.yardName }}</td>
              <th>Delivery Date:</th>
              <td>{{ order.deliveryDate }}</td>
            </tr>
          </table>
        </mat-expansion-panel-header>
        <div class="container-card-actions">
          <a routerLink="home"><mat-icon>edit</mat-icon></a
          ><a routerLink="home"><mat-icon>assignment</mat-icon></a>

          <a routerLink="home"><mat-icon>delete_forever</mat-icon></a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="container-pagination">
    <pagination-controls
      class="pagination"
      (pageChange)="pageChangeEvent($event)"
    ></pagination-controls>
  </div>
</div>
