@use "@angular/material" as mat;

@include mat.core();

$frontend-primary: mat.define-palette(mat.$green-palette, 900);
$frontend-accent: mat.define-palette(mat.$orange-palette, 600);

$frontend-warn: mat.define-palette(mat.$red-palette, A700);

$frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

@include mat.all-component-themes($frontend-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Sofia Sans", sans-serif;
}
