.container {
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  mat-card {
    width: 22rem;
    margin: 5rem auto;
    .full-width {
      width: 100%;
    }
  }
}
