<div class="container">
  <mat-card>
    <mat-card-content>
      <img src="assets/images/logo-wbp.svg" alt="company logo" />

      <mat-form-field class="full-width">
        <input
          [formControl]="username"
          [(ngModel)]="creds.username"
          required
          name="username"
          matInput
          placeholder="Email"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          [formControl]="password"
          [(ngModel)]="creds.password"
          required
          name="password"
          matInput
          type="password"
          placeholder="password"
        />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button
        (click)="login()"
        [disabled]="!validForm()"
        class="full-width"
        mat-raised-button
        color="primary"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>
