.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &-filters {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &-card {
    width: 23rem;
    margin: 0.5rem auto;
    font-size: 14px;
    mat-card-subtitle {
      margin: 0.2rem;
    }

    mat-icon {
      vertical-align: bottom;
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    font-size: 12px;

    mat-card {
      width: 18rem;
      margin: 0.5rem;
    }
  }
}
