<div class="container">
  <div class="container-filters">
    <button (click)="openDialogCreate()" mat-icon-button color="primary">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>

  <mat-card class="container-card mat-elevation-z6" *ngFor="let user of users">
    <mat-card-header>
      <mat-card-title
        ><mat-icon color="primary">person </mat-icon> {{ user.name }} -
        <span *ngFor="let role of user.roles">
          {{ roleName(role.authority) }}
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><mat-icon color="primary">mail</mat-icon> {{ user.email }}</p>
      <p>
        <mat-icon color="primary">phone_iphone</mat-icon> {{ user.phoneNumber }}
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        color="primary"
        (click)="openDialogUpdate(user.id!)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
